@media (min-width: 992px) {
    .flag {
      margin: 5px;
    }

    .spanResultCount {
        text-align: right !important;
    }
}

@media (min-width: 768px) {
    .spanResultCount {
        text-align: right !important;
    }
}

@media (min-width: 300px) {
    .d-sm-flex.align-items-sm-center.timelaps {
      margin-left: 10px !important;
      margin-bottom: 0 !important;
    }
}

@media (max-width: 540px) {
    .spanResultCount {
        text-align: left !important;
    }
}  
  
#stickyHeader {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 5rem;
    backdrop-filter: blur(6px);
    z-index: 1;
    /* -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5); */
    margin-bottom: 15px;;
}

#stickyHeader[aTop] {
    background: black;
    box-shadow: 0 0 16px black;
    margin-bottom: 15px;
}

#search-btn {
    color: white;
}

#search-btn:hover {
    color: black;
}

.destination-card {
    height: auto; 
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

.destination-card.hide {
    overflow: hidden;
    height: 0; 
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.bookBtn {
    color: black !important;
    background-color: #f9f007 !important;
    border-color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookBtn : hover {
    
}

.dateContainer {
    flex-shrink: 1;
    flex-basis: auto !important;
}

.labelForm {
    font-family: verdanaregular,Arial,sans-serif!important;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    color: #f9f007;
}