h1, h2, h3, h4, h5, h6 {
    font-family: 'tradegothicregular20', Arial, sans-serif !important;
    font-weight:normal;
    font-style:normal;
}

p {
    font-family: 'verdanaregular', Arial, sans-serif !important;
    font-weight:normal;
    font-style:normal;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50); /* Black background with opacity */
    z-index: -2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.background {
    background-image: url('../images/sov_truck.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

button.sovereign-btn:hover {
    color: #f9f007 !important;
}

.btn.btn-dark.sov-contact-btn {
    color: #f9f007 !important;
    border: #f9f007 1px solid !important;
    background-color: black !important;
}

.btn.btn-dark.sov-contact-btn:hover {
    color: black !important;
    border: black 1px solid !important;
    background-color: #f9f007 !important;
}

.btn.btn-dark.sov-booknow-btn {
    color: black !important;
    border: black 1px solid !important;
    background-color: #f9f007 !important;
}

.btn.btn-dark.sov-booknow-btn:hover {
    color: #f9f007 !important;
    border: #f9f007 1px solid !important;
    background-color: black !important;
}

.sov-yellow {
    color: #f9f007 !important;
}

.sov-black {
    color: black !important;
}

.sov-white {
    color: white !important;
}

.sov-link {
    text-decoration: underline;
    color: black;
}

.sov-link:hover {
    text-decoration: underline;
    color: #f9f007;
    background-color: black;
}

.route-card {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .8rem;
    background-color: black;
}

.top-text-header {
    color: #7a7a7a;
    font-size: large;
    margin-bottom: 0;
    /* letter-spacing: 1px; */
}

.sov-destination {
    margin-bottom: 0;
}

.bottom-text {
    color: #dddddd;
    font-size: small !important;
    margin-top: 0;
    text-transform: uppercase;
}

.top-text-dt {
    color: #7a7a7a;
    font-size: small;
    margin-bottom: 0;
}

.sov-dt {
    margin-top: 0;
}

.sov-destination {
    color: #f9f007;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
}

.sov-division {
    height: 100px;
    border: 1px #f9f007 solid;
}

.sov-circle-24 {
    background-image: url('images/circle_brush.png'); 
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.datepicker-week .datepicker tbody tr:hover {
	background-color: #eee;
}

.datepicker-week .datepicker tbody tr:hover td,
.datepicker-week .datepicker tbody tr td.active {
	border-radius: 0;
}

.datepicker-week .datepicker tbody tr:hover td:last-child,
.datepicker-week .datepicker tbody tr td.active:last-child {
	border-radius: 0 3px 3px 0;
}

.datepicker-week .datepicker tbody tr:hover td:first-child,
.datepicker-week .datepicker tbody tr  td.active:nth-child(2) {
	border-radius: 3px 0 0 3px;
}

.ui-datepicker.ui-datepicker-inline {
    width: 100% !important;
}

/* New Section */
.icon svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.service-card {
    width: 100%;
    padding: 0;
}

.service-card__ornament:after {
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 68px solid transparent;
    border-bottom: 68px solid transparent;
    border-left: 22.66667px solid #174470;
    content: " ";
}

.service-card__body {
    line-height: 1.15;
    color: #5e5e5e;
    font-weight: 400;
    font-size: 16px;
    font-family: proxima-nova,sans-serif;
    box-sizing: inherit;
    display: flex;
    align-content: stretch;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: normal;
    height: 136px;
}
.service-card__section--transit {
    flex: 0 0 80px;
    align-items: normal;
    justify-content: normal;
    max-width: none;
    padding: 0;
}

.service-card__section--carrier {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    width: inherit;
    min-width: 154.66667px;
    padding-left: 38.66667px;
}

.service-card__section--route {
    flex: 0 1 26%;
    justify-content: normal;
    width: auto;
}

.service-card__section--arrow {
    align-items: center;
    justify-content: center;
    width: 10%;
}

.service-card__section--route {
    flex: 0 1 26%;
    justify-content: normal;
    width: auto;
}

.service-card__section--price {
    flex-shrink: 0;
    width: 30%;
    margin-left: auto;
    text-align: right;
    min-width: 172px;
}

.service-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-top: 1px solid #dedede;
}