@font-face {
    font-family: 'tradegothicregular20';
    src: url('/font/tradegotboldcon20-webfont.woff2') format('woff2'),
         url('/font/tradegotboldcon20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tradegothicregular18';
    src: url('/font/tradegotcon18-webfont.woff2') format('woff2'),
         url('/font/tradegotcon18-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verdanaregular';
    src: url('/font/verdana-webfont.woff2') format('woff2'),
         url('/font/verdana-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verdanabold';
    src: url('/font/verdanab-webfont.woff2') format('woff2'),
         url('/font/verdanab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verdanaitalic';
    src: url('/font/verdanai-webfont.woff2') format('woff2'),
         url('/font/verdanai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verdanabold_italic';
    src: url('/font/verdanaz-webfont.woff2') format('woff2'),
         url('/font/verdanaz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
